body {
    background-color: darkslategrey;
    color: white;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}

#output, #output2 {
    font-family:'Scoreboard', sans-serif;
    margin: 20px;
    line-height: 20%;
    font-size:xx-large;
    background-color: black;
    color: crimson;
    padding: 20px;
}

@font-face {
    font-family: 'Scoreboard'; 
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.container {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    align-items: center;
    padding: 20px;
=======
>>>>>>> 6bf4149b85dac545f2fdefd38151bcdd98524078
}

.first, .second{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: space-around;
>>>>>>> 6bf4149b85dac545f2fdefd38151bcdd98524078
    align-items: center;
}

.btn {
    background-color: darkslategrey;
    font-family: 'Scoreboard';
<<<<<<< HEAD
    padding: 15px 20px;
    font-size: 24px;
    margin: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

h3 {
    margin: 15px;
    font-size: 50px;
    color: darkkhaki;
=======

}

h3 {
    margin: 10px;
    font-size: large;
>>>>>>> 6bf4149b85dac545f2fdefd38151bcdd98524078
}

.score-display {
    font-family: 'Scoreboard';
    background-color: black;
<<<<<<< HEAD
    padding: 30px;
    font-size: 150px;
    margin: 20px;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 1;
=======
    padding: 15px;
    font-size: 50px;
    margin: 10px;
    color: crimson;
    display: inline-block;
    text-align: center;
    width: 60px;
>>>>>>> 6bf4149b85dac545f2fdefd38151bcdd98524078
}